// ------------------------------------------------------------
// Remove iOS button defaults
// ------------------------------------------------------------

@mixin button-reset {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

// ------------------------------------------------------------
// Omega Reset for Bourbon Neat
// http://joshfry.me/notes/omega-reset-for-bourbon-neat
// ------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

// ------------------------------------------------------------
// Full Bleed
// Let the container span edge-to-edge.
// ------------------------------------------------------------

@mixin full-bleed {
  padding-left: 0;
  padding-right: 0;
}
// Apply .full-bleed to a section: targets direct .container child
.full-bleed {
  > .container {
    @include full-bleed;
  }
}
// ... or apply it directly to a container
.container {
  &.full-bleed {
    @include full-bleed;
  }
}

// ------------------------------------------------------------
// Module
// Removes top margin from first child element
// and bottom margin from last child element
// ------------------------------------------------------------

@mixin module {
  *:first-child { margin-top: 0 }
  *:last-child { margin-bottom: 0 }
}
// Enable .module class
.module {
  @include module;
}
