// Dev options
// ------------------------------------------------------------

$show_media_queries : true;
$show_baseline_grid : true;

// Colors
// ------------------------------------------------------------

$primary: #2379cf;
$secondary: #001275;
$tertiary: #e25a00;

// Grayscale

$light-black: #444;
$black: #000;
$light-gray: #ddd;
$gray: #ccc;
$dark-gray: #999;
$white-smoke: #eee;
$white: #fff;

// Links

$link-color: $primary;
$link-hover-color: $tertiary;

// Selection

$selection-color: #FF69B4;

// Baseline
// ------------------------------------------------------------

$font-size: 1em;
$line-height: 1.6;
$font-weight: 400;
$font-family: "proxima-nova", sans-serif;

// Unit
// ------------------------------------------------------------

$unit: $font-size;

// Containers
// ------------------------------------------------------------

$container: $max-width;
