// -------------------------------------------------------------------
// Animations
// -------------------------------------------------------------------

// Fade In

.fadeIn {
  position: relative;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
  0%   { opacity: 0}
  100% { opacity: 1}
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0}
  100% { opacity: 1}
}
@-o-keyframes fadeIn {
  0%   { opacity: 0}
  100% { opacity: 1}
}
@keyframes fadeIn {
  0%   { opacity: 0}
  100% { opacity: 1}
}

// Fade Out

.fadeOut {
  position: relative;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0%   { opacity: 1}
  100% { opacity: 0}
}
@-moz-keyframes fadeOut {
  0%   { opacity: 1}
  100% { opacity: 0}
}
@-o-keyframes fadeOut {
  0%   { opacity: 1}
  100% { opacity: 0}
}
@keyframes fadeOut {
  0%   { opacity: 1}
  100% { opacity: 0}
}

// Spinner

.spinner {
  -webkit-animation: rotate 1s linear infinite;
  -moz-animation: rotate 1s linear infinite;
  -o-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}

@-webkit-keyframes rotate {
  0%   { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(360deg) }
}
@-moz-keyframes rotate {
  0%   { -moz-transform: rotate(0deg) }
  100% { -moz-transform: rotate(360deg) }
}
@-o-keyframes rotate {
  0%   { -o-transform: rotate(0deg) }
  100% { -o-transform: rotate(360deg) }
}
@keyframes rotate {
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
