// -------------------------------------------------------------------
// Buttons
// -------------------------------------------------------------------

// Button
// <a class="button">Button</a>
// <a class="button is-active">Button</a>
// <a class="button is-disabled">Button</a>

// Large Button
// <a class="button--large">Button</a>
// <a class="button--large is-active">Button</a>
// <a class="button--large is-disabled">Button</a>

// Call to Action
// <a class="button--cta">Button</a>
// <a class="button--cta is-active">Button</a>
// <a class="button--cta is-disabled">Button</a>


// Large Call to Action
// <a class="button--large--cta">Button</a>
// <a class="button--large--cta is-active">Button</a>
// <a class="button--large--cta is-disabled">Button</a>

// -------------------------------------------------------------------

.button {
  @include rounded-corners;
  position: relative;
  display: inline-block;
  font: inherit;
  font-weight: bold;
  color: inherit;
  background: transparent;
  border: none;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
  font-size: 1em;
  line-height: 2.75em;
  padding: 0 1.25em;
  color: #fff;
  background-color: $primary;

  width: 100%;
  text-align: center;
  @extend %paragraph-margin-bottom;

  @include media(30em) {
    width: auto;
    margin-right: 1em;
    margin-bottom: 0;
  }

  &:hover {
    color: #fff;
    background-color: $tertiary;
  }
}
.button:active,
.button.is-active {
  background-color: $tertiary-dark;
  box-shadow: inset 0 0 0 2px $tertiary-darker;
}
.button:disabled,
.button.is-disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

// Button Alt
// -------------------------------------------------------------------

.button--alt {
  @extend .button;
  color: $primary;
  background: none;
  box-shadow: inset 0 0 0 2px $primary;

  &:hover {
    color: $tertiary;
    background: none;
    box-shadow: inset 0 0 0 2px $tertiary;
  }
}
.button--alt:active,
.button--alt.is-active {
  @extend .button.is-active;
  color: $tertiary-darker;
  background: none;
  box-shadow: inset 0 0 0 2px $tertiary-darker;
}
.button--alt:disabled,
.button--alt.is-disabled {
  @extend .button.is-disabled;
}

// Large Button
// -------------------------------------------------------------------

.button--large {
  @extend .button;
  // font-size: 1.25em;
  font-size: 1.375em;
}
.button--large:active,
.button--large.is-active {
  @extend .button.is-active;
}
.button--large:disabled,
.button--large.is-disabled {
  @extend .button.is-disabled;
}

// Call to Action
// -------------------------------------------------------------------

.button--cta {
  @extend .button;
  color: #fff;
  background-color: #288edf;

  &:hover {
    color: #fff;
    background-color: $tertiary;
  }
}
.button--cta:active,
.button--cta.is-active {
  background-color: $tertiary;
}
.button--cta:disabled,
.button--cta.is-disabled {
  @extend .button.is-disabled;
}

// Large Call to Action
// -------------------------------------------------------------------

.button--large--cta {
  @extend .button--large;
  @extend .button--cta;
}
.button--large--cta:active,
.button--large--cta.is-active {
  @extend .button--cta.is-active;
}
.button--large-cta:disabled,
.button--large--cta.is-disabled {
  @extend .button.is-disabled;
}
