// -------------------------------------------------------------------
// Container
// -------------------------------------------------------------------

// .container {
//   @include outer-container;
//   padding-left: $unit*1.5;
//   padding-right: $unit*1.5;
//   @include media($container+$unit*3) {
//     padding-left: 0;
//     padding-right: 0;
//   }
// }

// The added 7.5% padding is a nice touch

.container {
  @include outer-container;
  padding-left: 7.5%;
  padding-right: 7.5%;

  @include media(65em) {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  @include media($container+$unit*3) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Alt container sizes
// -------------------------------------------------------------------

.container--narrow {
  @extend .container;
  max-width: $container-narrow;
}
.container--super-narrow {
  @extend .container;
  max-width: $container-super-narrow;
}
.container--mobile {
  @extend .container;
  max-width: $container-mobile;
}

@mixin container {
  @extend .container;
}
