// ------------------------------------------------------------
// Container
// ------------------------------------------------------------

.container {
  @include outer-container;
  padding-left: $unit*1.5;
  padding-right: $unit*1.5;
  @include media($container+$unit*3) {
    padding-left: 0;
    padding-right: 0;
  }
}
