// -------------------------------------------------------------------
// Flashes
// -------------------------------------------------------------------

$error-color: lighten($red,25%);
$notice-color: lighten($yellow,25%);
$success-color: lighten($green,25%);

// -------------------------------------------------------------------

/* Success, error & notice boxes for messages and errors. */
%flash {
  @include rounded-corners;
  margin: 0 0 $base_line_height;
  padding: $base_line_height / 2 $base_line_height / 1.5;
  font-size: 90%;
  line-height: 1.4;
}

.error, #flash_failure {
  @extend %flash;
  background: $error-color;
  color: darken($error-color, 60);

  a {
    color: darken($error-color, 25);
    border-bottom: 1px dashed darken($error-color, 25);

    &:hover {
      color: darken($error-color, 40);
    }
  }
}

.notice, #flash_notice {
  @extend %flash;
  background: $notice-color;
  color: darken($notice-color, 60);

  a {
    color: darken($notice-color, 35);
    border-bottom: 1px dashed darken($notice-color, 35);

    &:hover {
      color: darken($notice-color, 45);
    }
  }
}


.success, #flash_success {
  @extend %flash;
  background: $success-color;
  color: darken($success-color, 60);

  a {
    color: darken($success-color, 35);
    border-bottom: 1px dashed darken($success-color, 35);

    &:hover {
      color: darken($success-color, 45);
    }
  }
}

