// Site Footer
// ------------------------------------------------------------
.site-footer {
  @include module;
  padding-top: $unit*2;
  padding-bottom: $unit*2;
  .copyright, .badge {
    text-align: center;
  }
  @include media(480px) {
    .copyright, .badge {
      font-size: .9em;
      margin: 0;
      float: left;
    }
    .badge {
      float: right;
    }
  }
}
