// ------------------------------------------------------------
// Demo: Media Queries
// ------------------------------------------------------------

// Named Media Queries
//
// These var names are currently not in use
//
$bp-small    : 30em; // MAJOR ---- 30em = 480px
$bp-small-2  : 35em; //   minor -- 35em = 560px
$bp-small-3  : 40em; //   minor -- 40em = 640px
$bp-med      : 45em; // MAJOR ---- 45em = 720px
$bp-med-2    : 50em; //   minor -- 50em = 800px
$bp-med-3    : 55em; //   minor -- 55em = 880px
$bp-large    : 60em; // MAJOR ---- 60em = 960px
$bp-large-2  : 60em; //   minor -- 65em = 1040px
$bp-large-3  : 70em; //   minor -- 70em = 1120px
$bp-xl       : 75em; // MAJOR ---- 75em = 1200px

// Usage
//
// @include media(30em) {}
// @include media(45em) {}
// @include media(60em) {}
// @include media(75em) {}

// ------------------------------------------------------------
// Dev mode styles
// ------------------------------------------------------------

@if $dev-mode == true {
  body {

    &:before {
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 99;
      padding: $unit/2 $unit/1.25;
      font-family: monospace;
      font-size: 1.125em;
      line-height: 1;
      color: #20D832;
      background: rgba(0,0,0,.8);

      @include media(30em) {
        content: "@include media(30em)";
      }
      @include media(35em) {
        content: "@include media(30em) [35]";
      }
      @include media(40em) {
        content: "@include media(30em) [40]";
      }
      @include media(45em) {
        content: "@include media(45em)";
      }
      @include media(50em) {
        content: "@include media(45em) [50]";
      }
      @include media(55em) {
        content: "@include media(45em) [55]";
      }
      @include media(60em) {
        content: "@include media(60em)";
      }
      @include media(65em) {
        content: "@include media(60em) [65]";
      }
      @include media(70em) {
        content: "@include media(60em) [70]";
      }
      @include media(75em) {
        content: "@include media(75em)";
      }
    }
  }
}
