// -------------------------------------------------------------------
// Container
// -------------------------------------------------------------------

@mixin container {
  @include outer-container;
    padding-left: 7.5%;
    padding-right: 7.5%;

  @include media(65em) {
    padding-left: $base-padding;
    padding-right: $base-padding;
  }

  @include media($container+$unit*3) {
    padding-left: 0;
    padding-right: 0;
  }
}

.container {
  @include container;
}

// Alt container sizes
// -------------------------------------------------------------------

.container--narrow {
  @extend .container;
  max-width: $container-narrow;
}
.container--super-narrow {
  @extend .container;
  max-width: $container-super-narrow;
}
.container--mobile {
  @extend .container;
  max-width: $container-mobile;
}
