// -------------------------------------------------------------------
// Image replacement
// -------------------------------------------------------------------

@mixin hide-text {
  position: absolute;
  font-size: 0;
  line-height: 0;
  opacity: 0;
}

.hide-text {
  @include hide-text;
}
