// -------------------------------------------------------------------
// Image replacement
// -------------------------------------------------------------------

@mixin ir {
  position: absolute;
  font-size: 0;
  line-height: 0;
  opacity: 0;
}
