// -------------------------------------------------------------------
// Margin / Global Paragraph Spacing
//
// Using rems with px fallback for vertical spacing consistency
// -------------------------------------------------------------------

$base-margin-px: 20px; // was 16px
$base-margin-rem: 1.25rem; // was 1rem

// -------------------------------------------------------------------

@mixin margin($arg:"") {
  @if type-of($arg) == number {
    margin: 0 0 $base-margin-px / $arg;
    margin: 0 0 $base-margin-rem / $arg;
  }
  @else if $arg == "top" {
    margin: $base-margin-px 0 0;
    margin: $base-margin-rem 0 0;
  }
  @else {
    margin: 0 0 $base-margin-px;
    margin: 0 0 $base-margin-rem;
  }
}
