{{!-- <a class="navbar-brand" href="/"><img class="site-logo" src="" alt=""><h1>{{site.name}}</h1></a> --}}
<div class="nav-links">
  {{!-- <div class="nav-left">
    <a{{#is basename "index"}} class="active"{{/is}} href="/"><i class="icon-home"></i> Home</a>
    <a{{#is basename "another-page"}} class="active"{{/is}} href="another-page.html"><i class="icon-eye"></i> Another Page</a>
  </div>
  <div class="nav-right">
    <a href="" target="_blank"><i class="icon-share"></i> GitHub</a>
  </div> --}}
  <div class="mobile-menu"><i class="icon icon-reorder"></i></div>
</div>
