<header class="page-header">
  <h1 class="page-title">{{#if pageTitle}}{{capitalizeEach pageTitle}}{{else}}{{capitalizeEach title}}{{/if}}</h1>
  {{#if description}}<p class="intro">{{description}}</p>{{/if}}
</header>
