// -------------------------------------------------------------------
// Reset
// -------------------------------------------------------------------

// Box sizing is handled with Bourbon
// * {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }

html {
  font-size: 100%;
}

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  font-family: $base-font-family;
  color: $base-font-color;
  background-color: $base-background-color;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: $selection-color;
  text-shadow: none;
}

a {
  color: $base-link-color;
  text-decoration: none;
  outline: 0;

  &:hover {
    color: $hover-link-color;
  }
  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

img {
  margin: 0;
  max-width: 100%;
  height: auto;

  // Make images display block and
  // remove the annoying space underneath.
  &.img {
    display: block;
  }
}
