// -------------------------------------------------------------------
// Elements
// -------------------------------------------------------------------

img {
  margin: 0;
  max-width: 100%;
  height: auto;

  // Remove space below img
  &.img {
    display: block;
    margin: 0 0 $base_line_height;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: em(32, 24) 0;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  margin: 0 0 $base_line_height;
  display: block;
}

hgroup {
  margin-bottom: $base_line_height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  margin: $base_line_height * 2 0;
  padding: $base_line_height $base_line_height / 1.5;
  padding-right: 0;
  color: $brand-blue;
  border-left: $base-border-width $base-border-style lighten($brand-blue, 45);

  p {
    font-size: em(24);
    line-height: 1.3;
    margin-bottom: $base_line_height / 2;
  }
}

cite {
  font-family: $georgia;
  font-size: 90%;
  font-style: italic;
  color: $dark-gray;

  &:before {
    content: '\2014 \00A0';
  }
}

iframe {
  display: block;
}
