// -------------------------------------------------------------------
// Lists
// -------------------------------------------------------------------

ul, ol {
  @include margin;
  padding-left: $base-padding;
}

ul ul, ul ul ul,
ol ol, ol ol ol {
  margin-bottom: 0;
}

// <ul>'s within <nav>'s
// -------------------------------------------------------------------

nav {
  ul {
    @include margin;
    padding: 0;
    list-style: none;

    ul, ul ul {
      margin-bottom: 0;
    }

    li {
      margin: 0;
      padding: 0;
    }
  }
}

// Definition lists
// -------------------------------------------------------------------

dl {
  line-height: $base-line-height;
  margin-bottom: $base-line-height / 2;

  dt {
    font-weight: bold;
    margin-top: $base-line-height / 2;
  }

  dd {
    margin: 0;
  }
}
