// -------------------------------------------------------------------
// Lists
// -------------------------------------------------------------------

ul, ol {
  @include margin;
  padding-left: $base-padding;
}

// Nested lists
// ============

ul ul, ul ul ul,
ol ol, ol ol ol {
  margin-bottom: 0;
}

// nav > ul
// ========

nav {
  ul {
    @include margin;
    padding: 0;
    list-style: none;

    ul, ul ul {
      margin-bottom: 0;
    }

    li {
      margin: 0;
      padding: 0;
    }
  }
}

// Definition lists
// ================

dl {
  @include margin;
  line-height: $base-line-height;

  dt {
    font-weight: bold;
    margin-top: $base-line-height / 2;
  }

  dd {
    @include margin(2);
  }
}
