// -------------------------------------------------------------------
// Typography
// -------------------------------------------------------------------

// This is used for margin above headings
$vertical-offset: 1.5875;

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-size: em(24);
  line-height: 1.25;
  font-weight: 300;
  margin: {
    top: $base-margin-px * $vertical-offset;
    top: $base-margin-rem * $vertical-offset;
    bottom: $base-margin-px;
    bottom: $base-margin-rem;
  }
  color: $header-font-color;
  text-rendering: optimizeLegibility;
}

h1, .h1 {
  font-size: $base-font-size * 3;
}
h2, .h2 {
  font-size: $base-font-size * 2;
  line-height: 1.125;
}
h3, .h3 {
  font-size: $base-font-size * 1.5;
  line-height: 1.125;
}
h4, .h4 {
  margin-bottom: .5em;
  font-size: $base-font-size;
  font-weight: 600;
}
h5, .h5 {
  @extend h4;
}
h6, .h6 {
  @extend h4;
}

p {
  @include margin;
}

// Classes
// -------------------------------------------------------------------

.section-title {
  padding-bottom: .5em;
  margin-bottom: .75em; // testing
  border-bottom: 2px solid $light-gray;
}

.page-title {
  @include margin;
  font-size: 2.5em;
  line-height: 1;
  font-weight: 100;

  @include media(45em) {
    font-size: 3.5em;
  }
}

.intro {
  // font-family: $serif;
  font-size: em(20);
  line-height: 1.5;
  font-weight: 300;
  color: $dark-gray;
}

// Basic elements
// -------------------------------------------------------------------

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: {
    top: $base-margin-px * $vertical-offset;
    top: $base-margin-rem * $vertical-offset;
    bottom: $base-margin-px * $vertical-offset;
    bottom: $base-margin-rem * $vertical-offset;
  }

  // Use alt if element above has margin-bottom
  &.alt {
    margin: {
      bottom: ($base-margin-px * $vertical-offset) + $base-margin-px;
      bottom: ($base-margin-rem * $vertical-offset) + $base-margin-rem;
    }
  }
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  margin: {
    left: 0;
    right: 0;
  }
  // Maybe keep this for mobile? But it looks goos as is
  // margin: {
  //   top: $base-margin-px * $vertical-offset;
  //   top: $base-margin-rem * $vertical-offset;
  //   bottom: $base-margin-px * $vertical-offset;
  //   bottom: $base-margin-rem * $vertical-offset;
  // }
  margin: {
    top: $base-margin-px * ($vertical-offset * 2);
    top: $base-margin-rem * ($vertical-offset * 2);
    bottom: $base-margin-px * ($vertical-offset * 2);
    bottom: $base-margin-rem * ($vertical-offset * 2);
  }
  padding: $base-padding/1.25;
  padding-right: 0;
  color: $primary;
  border-left: $base-border-width $base-border-style lighten($primary, 45);

  p {
    font-size: em(24);
    line-height: 1.3;
    margin-bottom: 0;
  }

  cite {
    display: block;
    margin-top: $base-margin-px/2;
    margin-top: $base-margin-rem/2;
  }
}

cite {
  font-family: $serif;
  font-size: 90%;
  font-style: italic;
  color: $dark-gray;

  &:before {
    content: '\2014 \00A0';
  }
}
