---
layout: post.hbs
title: test
pageTitle: Test page
bodyClass: test-page
---

<p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h1 class="section-title">Section Title</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<img class="img fullbleed" src="http://placehold.it/720x300" alt="">

<div class="img-flex fullbleed">
  <img class="img" src="http://placehold.it/720x300" alt="">
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>



{{#markdown}}

# Heading Level 1
## Heading Level 2
### Heading Level 3
#### Heading Level 4
##### Heading Level 5
###### Heading Level 6

# Lorem ipsum dolor sit amet, <br> consectetur adipisicing elit
## Lorem ipsum dolor sit amet, <br> consectetur adipisicing elit
### Lorem ipsum dolor sit amet, <br> consectetur adipisicing elit
#### Lorem ipsum dolor sit amet, <br> consectetur adipisicing elit
##### Lorem ipsum dolor sit amet, <br> consectetur adipisicing elit
###### Lorem ipsum dolor sit amet, <br> consectetur adipisicing elit

---

# Lorem ipsum dolor sit amet

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

## Lorem ipsum dolor sit amet

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

### Lorem ipsum dolor sit amet

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

#### Lorem ipsum dolor sit amet

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

##### Lorem ipsum dolor sit amet

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

###### Lorem ipsum dolor sit amet

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

---

## Lists

<ul>
  <li>List item</li>
  <li>List item</li>
</ul>

<ul>
  <li><a href="#">List item anchor</a></li>
  <li><a href="#">List item anchor</a></li>
</ul>

<nav>
  <ul>
    <li><a href="#">Nav list item</a></li>
    <li><a href="#">Nav list item</a></li>
  </ul>
</nav>

<ul class="ul-reset">
  <li>ul-reset list item</li>
  <li>ul-reset list item</li>
</ul>

<ul class="list-of-links">
  <li><a href="#">list-of-links list item</a></li>
  <li><a href="#">list-of-links list item</a></li>
</ul>

<ul class="list-of-links-horiz">
  <li><a href="#">list-of-links-horiz list item</a></li>
  <li><a href="#">list-of-links-horiz list item</a></li>
</ul>

### Definition lists

<dl>
  <dt>Definition term</dt>
  <dd>Definition description</dd>
  <dt>Definition term</dt>
  <dd>Definition description</dd>
  <dt>Definition term</dt>
  <dd>Definition description</dd>
  <dt>Definition term</dt>
  <dd>Definition description</dd>
</dl>

<hr>

## Code Blocks

`scss`
```scss
body {
  background: red;
}
```
`markup`
```markup
<link rel="stylesheet" href="css/style.css" />
```
`code block sans language class`
```
<link rel="stylesheet" href="css/style.css" />
```
`javascript`
```javascript
console.log('hi');
```
`bash`
```bash
# Start your engines
$ grunt dev
```

## Form Elements

{{/markdown}}

<form>
  <fieldset>
    <legend>Form</legend>
    <label for="name">Name</label>
    <input type="text" id="name" placeholder="Name">
    <label for="email">Email</label>
    <input type="text" id="email" placeholder="Email">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="password">
    <label for="comments">Comments</label>
    <textarea id="comments" placeholder="comments"></textarea>
    <select>
      <optgroup label="Option group 1">
        <option>Option 1</option>
        <option>Option 2</option>
      </optgroup>
      <optgroup label="Option group 2">
        <option>Option 3</option>
      </optgroup>
    </select>
  </fieldset>

  <input type="submit">
  <input type="reset" class="alt">
</form>

<h2 id="tables">Tables</h2>

  <table class="rwd">
    <thead>
      <tr>
        <th>Header 1</th>
        <th>Header 2</th>
        <th>Header 3</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Column 1</td><td>Column 2</td><td>Column 3</td></tr>
      <tr><td>Column 1</td><td>Column 2</td><td>Column 3</td></tr>
      <tr><td>Column 1</td><td>Column 2</td><td>Column 3</td></tr>
      <tr><td>Column 1</td><td>Column 2</td><td>Column 3</td></tr>
      <tr><td>Column 1</td><td>Column 2</td><td>Column 3</td></tr>
      <tr><td>Column 1</td><td>Column 2</td><td>Column 3</td></tr>
    </tbody>
  </table>

  <blockquote>
    <p> This stylesheet is going to help so much!</p>
    <cite>Blockquote</cite>
  </blockquote>

  <h2 id="flashes">Flash / error messages</h2>
  <div class="success">
    <span>This is a success message <a href="#">with a link</a></span>
  </div>
  <div class="error">
    <span>This is an error message <a href="#">with a link</a></span>
  </div>
  <div class="notice">
    <span>This is an notice message <a href="#">with a link</a></span>
  </div>
