---
layout: post.hbs
title: test
pageTitle: Test page
bodyClass: test-page
---

{{#markdown}}
<p class="intro">Learn more about assemble at http://assemble.io</p>

<h2 class="section-title">Code Blocks</h2>

`scss`
```scss
body {
  background: red;
}
```
`markup`
```markup
<link rel="stylesheet" href="css/style.css" />
```
`javascript`
```javascript
console.log('hi');
```
`bash`
```bash
# Start your engines
$ grunt dev
```

<h2 class="section-title">Paragraphs</h2>

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<h2 class="section-title">Headings</h2>

# Heading Level 1
## Heading Level 2
### Heading Level 3
#### Heading Level 4
##### Heading Level 5
###### Heading Level 6

<h2 class="section-title">Form Elements</h2>

A nice resource for all HTML5 input types http://nativeformelements.com

{{/markdown}}

<form>
  <fieldset>
    <legend>Form</legend>
    <label for="name">Name</label>
    <input type="text" id="name" placeholder="Name">
    <label for="email">Email</label>
    <input type="text" id="email" placeholder="Email">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="password">
    <label for="comments">Comments</label>
    <textarea id="comments" placeholder="comments"></textarea>
    <select>
      <optgroup label="Option group 1">
        <option>Option 1</option>
        <option>Option 2</option>
      </optgroup>
      <optgroup label="Option group 2">
        <option>Option 3</option>
      </optgroup>
    </select>
  </fieldset>

  <input type="submit">
  <input type="reset" class="alt">
</form>

<hr class="alt">

<p class="notice">The following is taken from <a href="http://bitters.bourbon.io/example.html" target="_blank">http://bitters.bourbon.io/example.html</a></p>

<h2 id="tables">Tables</h2>

<table cellspacing="0" cellpadding="0">
  <tr>
    <th>Table Header 1</th><th>Table Header 2</th><th>Table Header 3</th>
  </tr>
  <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
  </tr>
  <tr class="even">
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
  </tr>
  <tr>
    <td>Division 1</td><td>Division 2</td><td>Division 3</td>
  </tr>
</table>

<blockquote>
  <p> This stylesheet is going to help so much.</p>
  <cite>Blockquote</cite>
</blockquote>

<h2 id="flashes">Flash / error messages</h2>
<div class="success">
  <span>This is a success message <a href="#">with a link</a></span>
</div>
<div class="error">
  <span>This is an error message <a href="#">with a link</a></span>
</div>
<div class="notice">
  <span>This is an notice message <a href="#">with a link</a></span>
</div>

<h2>Buttons</h2>

<pre><code>.button, .btn</code></pre>
<a class="btn">Button</a>
<a class="btn is-active">Button</a>
<a class="btn is-disabled">Button</a>

<pre><code>.button.large, .btn.lrg</code></pre>
<a class="btn lrg">Button</a>
<a class="btn lrg is-active">Button</a>
<a class="btn lrg is-disabled">Button</a>

<pre><code>.button.alt, .btn.alt</code></pre>
<a class="btn alt">Button</a>
<a class="btn alt is-active">Button</a>
<a class="btn alt is-disabled">Button</a>

<pre><code>.button.alt.large, .btn.alt.lrg</code></pre>
<a class="btn alt lrg">Button</a>
<a class="btn alt lrg is-active">Button</a>
<a class="btn alt lrg is-disabled">Button</a>
