<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />

<title>{{capitalizeEach title}} | {{site.name}}</title>
<meta content="{{pageDescription}}" name="description" />

{{!-- Google Fonts --}}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
{{> styles }}

<!-- build:js /assets/js/modernizr.min.js -->
<script src="/assets/js/libs/modernizr-custom.js"></script>
<!-- endbuild -->
