<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />

<title>{{capitalizeEach title}} | {{site.name}}</title>
<meta content="{{pageDescription}}" name="description" />

{{!-- Typekit --}}
<script type="text/javascript" src="//use.typekit.net/{{site.typekit}}.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

{{> styles }}

<!-- build:js /assets/js/modernizr.min.js -->
<script src="/assets/js/libs/modernizr-custom.js"></script>
<!-- endbuild -->
