// -------------------------------------------------------------------
// Typekit Fonts
// -------------------------------------------------------------------

$proxima_nova: "proxima-nova", $helvetica;
$proxima_nova_regular: 400;
$proxima_nova_bold: 700;

$proxima_nova_extra_condensed: "proxima-nova-extra-condensed", $helvetica;
$proxima_nova_extra_condensed_regular: 400;

// -------------------------------------------------------------------

// Proxima Nova
// ============

%proxima_nova {
  font-family: $proxima_nova;
}

  @mixin proxima_nova_regular {
    @extend %proxima_nova;
    font-weight: $proxima_nova_regular;
  }

  @mixin proxima_nova_bold {
    @extend %proxima_nova;
    font-weight: $proxima_nova_bold;
  }

// Proxima Nova Condensed
// ======================

%proxima_nova_extra_condensed {
  font-family: $proxima_nova_extra_condensed;
}

  @mixin proxima_nova_extra_condensed_regular {
    @extend %proxima_nova_extra_condensed;
    font-weight: $proxima_nova_extra_condensed_regular;
  }
