// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// ------------------------------------------------------------
// Omega Reset Helpers
// http://joshfry.me/notes/omega-reset-for-bourbon-neat/#update_your_grid_settings
// ------------------------------------------------------------

$column: golden-ratio(1em, 2) !default; // Column width
$gutter: golden-ratio(1em, 2) !default; // Gutter between each two columns

$fg-column: $column;
$fg-gutter: $gutter;

// ------------------------------------------------------------
// Grid Container max-width
// http://neat.bourbon.io/docs/#max-width
// ------------------------------------------------------------

$max-width: em(960);

// TODO
//
// Experiment with Neat Breakpoints below

// Neat Breakpoints
/////////////////////////////////////////////////////////////////////////////

// @import "../../../dist/assets/bower/neat/app/assets/stylesheets/neat-helpers";

// $small-screen: new-breakpoint(min-width em(540) 2);
// $medium-screen: new-breakpoint(min-width em(760) 4);
// $large-screen: new-breakpoint(min-width em(920) 8);
