// -------------------------------------------------------------------
// Variables
// -------------------------------------------------------------------

$show_media_queries : true;
$show_baseline_grid : false;

$base_font_size: 1em;
$base_line_height: $base_font_size * 1.5;

$unit: $base_font_size;
$gutter_spacing: flex-gutter($parent-columns);

@import "var-colors";
@import "var-breakpoints";
@import "var-borders";
